@***********Code Blocks***********@
@{
    var quote = "The future depends on what you do today. - Mahatma Gandhi";
}

<p>@quote</p>

@{
    quote = "Hate cannot drive out hate, only love can do that. - Martin Luther King, Jr.";
}

<p>@quote</p>

@***********Local Functions***********@

@{
    void RenderName(string name)
    {
        <p>Name: <strong>@name</strong></p>
    }

    RenderName("Mahatma Gandhi");
    RenderName("Martin Luther King, Jr.");
}

@***********Implicit Transition***********@
@{
    var inCSharp = true;
    <p>Now in HTML, was in C# @inCSharp</p>
}

@***********Explicit Transition***********@

@{
    var people = new[]
    {
        new Person("Anu",24),
        new Person("Akshay",22)
    };
}
@for (var i = 0; i < people.Length; i++)
{
    var person = people[i];
    <text>Name: @person</text>
}

